:root {
    --main-color: #2395f8;
    --second-color: #867f7f;
    --third-color: #3a3a3a;
  }

  .navContainer {
    position: sticky;
    top: 0px;
    z-index: 66;
  }
  .navStyle {
    opacity: 0.98;
    border-radius: 0px 0px 40px 40px;
  }
  .navStyle .logo {
    width: 150px;
  }
  .navItem {
    background: white;
  }
  .active {
    color: var(--main-color) !important;
    /* border-bottom: 2px solid #1e0948; */
    font-weight: bold;
  }
  .navStyle a {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .navStyle a:hover {
    color: var(--main-color) !important;
  }
  