
div#intro-header-container  img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:1;
}
div#intro-header-container h2 {
  /* z-index: 5; */
  color: var(--on-primary);
  font-size: 20px;
  z-index: 200;
}
div#intro-header-container {
  width: 100%; 
  display: flex;
  align-items: center;
  position: relative;
  aspect-ratio: 1440/257;
  padding: 0 30px;
}
div#intro-header-container div.flex-item {
  flex: 1;
  z-index: 200;
}
div#intro-header-container div.flex-item:nth-of-type(1) {
  text-align: right;
}

div#intro-header-container div.flex-item:nth-of-type(2) {
  text-align: center;
}
.icon{
  color: aliceblue;
  font-size: 20px;
  z-index: 2;
}
.padding{
  padding-left: 20px;
  padding-right: 20px;
}

.title{
  padding-top: 20px;
}

.page-container{
  display: flex;
}
.registerimg{
  width: 35vw;
  margin-top: 150px;
  margin-left: 100px;
  display: block;
  position: fixed;
  left: 0;

}
body {
  background-color: #ECF2FE;
}
.label-nurse{
  display: inline;
}
@media (max-width: 1000px) {
  .registerimg{
    margin-left:10px;
    margin-right:15px ;
  }
}
@media (max-width: 800px) {
  .registerimg{
    display: none;
  }
  div#intro-header-container h2 {
    font-size: 13px;
  }
}
@media (max-width: 1024px) {
  .registerimg{
    margin-left: 20px;
  }
}