
.hero-img1{
  position: absolute;
  right: 0;
  top: 0;
  z-index: -5;
  /* height: 630px; */
  
}
.nurseimg2{
  margin-top: 20px;
  position: absolute;
  left: 170px;
  top: 70px;
  width: 500px;
}